@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<br />

<h2>Contact Us</h2>
<h3>You can reach us at.</h3>

<address>
    <abbr title="Phone">P:</abbr>
    503-695-5328
</address>
<address>
    <strong>Support:</strong>
    <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong>
    <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>